<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="sytlesheet" "href="/stylesheets/style.css"">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class = "w-full h-full bg-zinc-900 p-10 text-white">
        <h1 class = "text-3xl tracking-tighter mb-3">
            All Users
        </h1>  
    <div class = "user">
<div class = "user max-w-72 p-4 bg-zinc-800 rounded-lg">
    <div class = "w-full-52 rounded-lg bg-green-350"></div>
    <h3 class = "text-3xl mt-3 tracking-tighter">Asadullah Shafique</h3>
    <h5 class = "text-zinc-350">asadullahshafique@hotmail.com </h5>
    <div class = "flex gap-3 mt-10 "> 
        <a class = "text-zinc-600" herf="">edit user </a>
        <a class = "text-green-350" herf="">delete user </a>
    </div>
</div>
    </div>
</div>
</body>
</html>